* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.app {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.header {
    height: 70px;
    display: flex;
    background-color: #295fe7;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    width: 80%;
    height: 40px;
    align-items: center;

}

/* i tre blocchi riempiono tutta l’altezza e gestiscono l’allineamento interno */
.left-header,
.center-header,
.right-header {
    display: flex;
    align-items: center;
    height: 100%;
}

.left-header {

    flex-basis: 150px;
    justify-content: center;
    padding: 5px;
}

.center-header {
    flex-grow: 1;
    /* prende tutto lo spazio rimanente */
    justify-content: center;
    gap: 40px;

}

a {
    text-decoration: none;
    color: white;
}

.right-header {
    flex-basis: 150px;
    border-radius: 20%;
    justify-content: center;
    padding: 5px;

}

.login-bottom {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
}

.hero-section {
    width: 100%;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    display: flex;
    align-items: center;


}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;


}

.hero-title {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}

.hero-p {
    color: white;
    font-size: 20px;
    line-height: 1.5;

    text-align: center;
}


.hero-link {
    margin-top: 25px;
}

.hero-link-style {
    padding: 12px 15px;
    border-radius: 20px;
    font-size: 18px;
}

.hero-link-one {
    background-color: white;
    color: black;
    margin-right: 15px;

}

.hero-link-two {
    background-color: black;
    color: white;
}

.section-background-white {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: white;
}

.container-second-section {
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;

}

.right-sidebar-second {
    flex-basis: 60%;
}

.left-sidebar-second {
    flex-basis: 40%;
    
}

.text-section {
    font-size: 50px;
}

.p-section {
    margin-top: 20px;
    font-size: 20px ; 
    line-height: 1.5;
}

.third-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: lightgrey;
}

.container-third-section {
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    
}

.right-sidebar-third {
    flex-basis: 40%;
 
}

.left-sidebar-third {
    flex-basis: 60%;
    
}

.container-fourth-section {
    display: flex;
    margin: 0 auto;
    
    width: 70%;
    align-items : center; 
}

.right-sidebar-fourth {
    flex-basis: 60%;
    background-color: aquamarine;
    border: 4px dotted black;
}

.left-sidebar-fourth {
    flex-basis: 40%;
    background-color: pink;
    border: 4px dotted black;
}

.section-five {
    width: 100%;
    height: 700px;
    background-color: grey;
    display: flex;
    align-items: center;
}

.section-five-content {
    margin: 0 auto;
    width: 60%;
    height: 90%;
    background-color: green;
    border: 4px dotted black;
}

.footer {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-container {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 400px;
}

/* prendo 3/12 della riga per la colonna di sinistra (25%) */
.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.footer-left {
    background-color: #ee82ee;
    border: 4px dotted white;
}

.footer-right {
    display: flex;
    background-color: #20b2aa;
}

/* divido la colonna di destra in 4 parti uguali ( che occupano il 75%) */
.col-4 {
    flex-basis: calc((100% / 12) * 4);
    border-right: 4px dotted white;
}

/* prendo 9/12 della riga per la colonna di destra (75%) */
.col-9 {
    flex-basis: calc((100% / 12) * 9);
}


.footer-bottom {
    width: 100%;

    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;

}

.footer-bottom-container {
    display: flex;
    margin: 0 auto;
    background-color: #20b2aa;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 60px;

}

.logo,
.bottone {
    background-color: pink;
    border: 3px dotted black;
    padding: 5px;

}

.white-bar {
    margin-top: 20px;
    width: 100%;
    height: 2px;
    background-color: white;
}